@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora');

html,
body {
	background-color: #f7f2ec;
	font-family: Lora, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color:#241f19;
	font-family: Fivo Sans Modern, "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}

h1 {
	font-size: 78px;
	font-weight: 700;
}

h2 {
	font-size: 36px;
	line-height: 1.4;
	padding-top: 2.5%;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
	text-decoration: underline;
}

h6 {
	font-size: 16px;
}


@font-face {
	font-family: Inter;
	font-style:  normal;
	font-weight: 100;
	font-display: swap;
	src: url(../fonts/Inter-Regular.woff);
}

@font-face {
	font-family: Inter Bold;
	font-style:  bold;
	font-display: swap;
	src: url(../fonts/Inter-Bold.woff);
}

@font-face {
	font-family: Fivo Sans Modern;
	font-style: normal;
	font-display: swap;
	src: url(../fonts/fivosansmodern-regular-webfont.woff)
}

p,
li{
	font-size: 24px;
	font-family: inherit;
	color: #241f19;
	line-height: 1.8;
}

strong {
	color: #ab663b;
	-webkit-transition: 0.4s;
    transition: 0.4s;
}
strong:hover {
	color: #ab663b;

}

span {
	font-size: inherit;
	font-weight: inherit;
}
img {
	max-width: 50%;
	vertical-align: middle;
}

.img {
	width: auto;
	height: auto;
}


#container {
    width: 90%;
    max-width: 900px;
	margin: 3rem auto;
	padding: 0.5rem 0;

}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}


a {
	text-decoration-style: dotted;
	font-family: inherit;
	color: inherit;
}

a:hover,
a:focus {
	text-decoration-style: underline;
	outline-style: none;
	color: #662619
	;

}

ul,
ol {
	list-style: none;
	margin-left: 0;
	padding: 0;
	margin: 0;
	
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

.row {
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.section-padding {
	padding: 25px 0;
}

.section-padding

.wow {
	visibility: hidden;
}
